---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?key=AIzaSyAyCameGbE6cUNSRfKBfguWo1z6KudUZo4&part=snippet&q=India
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "RFw-8MepDoBnaZkrtSHZmyScvxE",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 1000000,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "GuMy798ExA8dgBCV23ffPYPAoeI",
              "id": {
                "kind": "youtube#video",
                "videoId": "q4ICEj4d2Ac"
              },
              "snippet": {
                "publishedAt": "2017-10-19T21:00:02Z",
                "channelId": "UCaxOQZrF5llUMp-JjesUz1A",
                "title": "Lil Durk - India (Official Audio)",
                "description": "Listen to the official audio of \"India\" by Lil Durk Subscribe to Lil Durk's official channel for exclusive music videos and behind the ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/q4ICEj4d2Ac/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/q4ICEj4d2Ac/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/q4ICEj4d2Ac/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Lil Durk",
                "liveBroadcastContent": "none",
                "publishTime": "2017-10-19T21:00:02Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "lwei3ZJHnyHOS7YOaZcGry4el_8",
              "id": {
                "kind": "youtube#video",
                "videoId": "Kdw9-Wz2FOE"
              },
              "snippet": {
                "publishedAt": "2023-08-07T15:30:05Z",
                "channelId": "UCuFFtHWoLl5fauMMD5Ww2jA",
                "title": "Why India&#39;s rice ban could cause a global [...]
