---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 3m2WMIPaZwe69ESj0McjQQ==iCPBWjZU7As1voZ4
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 83441a4c-f54f-4769-b228-5352a5f534d9
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JTF4FE_GvHcF8Aw=
    body:
      encoding: UTF-8
      string: '{"error": "Could not find city."}'
  recorded_at: Mon, 07 Aug 2023 16:34:08 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 3m2WMIPaZwe69ESj0McjQQ==iCPBWjZU7As1voZ4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 96e191ee-4006-48e2-9fb2-e9572acc6cbd
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JTGjKHJNPHcFZAA=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 277.04, "aqi": 3}, "NO2": {"concentration":
        10.45, "aqi": 13}, "O3": {"concentration": 127.32, "aqi": 204}, "SO2": {"concentration":
        7.87, "aqi": 11}, "PM2.5": {"concentration": 12.48, "aqi": 40}, "PM10": {"concentration":
        14.09, "aqi": 13}, "overall_aqi": 204}'
  recorded_at: Mon, 07 Aug 2023 16:38:44 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Paris
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 3m2WMIPaZwe69ESj0McjQQ==iCPBWjZU7As1voZ4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - cf4f84fb-0054-461a-b85c-0c3fa1f9672d
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JTIkZEmxvHcF3Sg=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 226.97, "aqi": 2}, "NO2": {"concentration":
        5.44, "aqi": 6}, "O3": {"concentration": 64.37, "aqi": 66}, "SO2": {"concentration":
        2.65, "aqi": 3}, "PM2.5": {"concentration": 3.13, "aqi": 10}, "PM10": {"concentration":
        4.26, "aqi": 3}, "overall_aqi": 66}'
  recorded_at: Mon, 07 Aug 2023 16:52:31 GMT
recorded_with: VCR 6.2.0
