---
http_interactions:
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Nigeria
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - a9acbc7f-4a56-4b5c-b2ee-2276709a5fa5
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JTACOGdTvHcFTjg=
    body:
      encoding: UTF-8
      string: '{"error": "Missing API Key."}'
  recorded_at: Mon, 07 Aug 2023 15:54:15 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?X-Api-Key=3m2WMIPaZwe69ESj0McjQQ==iCPBWjZU7As1voZ4&city=Nigeria
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b0124e3e-97ff-46e7-951a-dfe475eefd62
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JTA45EzYPHcF1dQ=
    body:
      encoding: UTF-8
      string: '{"error": "Missing API Key."}'
  recorded_at: Mon, 07 Aug 2023 16:00:05 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 3m2WMIPaZwe69ESj0McjQQ==iCPBWjZU7As1voZ4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - e3fb4526-d0be-499b-b21c-f743fe19722f
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JTCVTG8iPHcFWJg=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 277.04, "aqi": 3}, "NO2": {"concentration":
        12.34, "aqi": 15}, "O3": {"concentration": 94.41, "aqi": 148}, "SO2": {"concentration":
        7.15, "aqi": 10}, "PM2.5": {"concentration": 9.38, "aqi": 30}, "PM10": {"concentration":
        11.07, "aqi": 10}, "overall_aqi": 148}'
  recorded_at: Mon, 07 Aug 2023 16:09:57 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/airquality?city=paris
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 3m2WMIPaZwe69ESj0McjQQ==iCPBWjZU7As1voZ4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - ef45a1c8-4fef-49ab-bf4f-4ccffebfc5e4
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - JTCiWGS5PHcFWmA=
    body:
      encoding: UTF-8
      string: '{"CO": {"concentration": 220.3, "aqi": 2}, "NO2": {"concentration":
        3.77, "aqi": 4}, "O3": {"concentration": 70.1, "aqi": 84}, "SO2": {"concentration":
        2.47, "aqi": 3}, "PM2.5": {"concentration": 2.74, "aqi": 8}, "PM10": {"concentration":
        3.69, "aqi": 3}, "overall_aqi": 84}'
  recorded_at: Mon, 07 Aug 2023 16:11:21 GMT
recorded_with: VCR 6.2.0
